// COLORS
$primary-color: #b92b27;
$secondary-color:#1565C0;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color:  black;

$dark-grey:  rgb(39, 39, 39);

$dark-blue-text: white; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
